* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
}
h3 {
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
.card {
  max-width: 300px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 16px auto;
}
.card-content {
  line-height: 130%;
  border-bottom: 1px solid lightgray;
  padding: 10px 25px;
}
.card-content-last {
  border-bottom: none;
}
.card-content-link {
  margin-right: 16px;
}