:root {
  --background-result: #434D51;
  --background-symbols: #D3DDE4;
  --clr-text: #010100;
  --background-numbers: #EEF3F5;
  --background-equal-sign: #F77176;
  --clr-border: #889CAE;
  --clr-white: #fff;
}